.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.tagcloud--item:nth-child(1) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(1)::before {
  content: "HTML";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(1)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/html.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(1):hover::before {
  color: #ff5722;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(1):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(2) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(2)::before {
  content: "Pug";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(2)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/pug.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(2):hover::before {
  color: #56332b;
  transform: translate(-50%, -2rem);
}

html.dark .tagcloud--item:nth-child(2):hover::before {
  color: #efcca3;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(2):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(3) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(3)::before {
  content: "CSS";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(3)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/css.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(3):hover::before {
  color: #2196f3;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(3):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(4) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(4)::before {
  content: "Sass";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(4)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/sass.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(4):hover::before {
  color: #cc6699;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(4):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(5) {
  width: 8rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(5)::before {
  content: "TailwindCSS";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(5)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/tailwind.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(5):hover::before {
  color: #38bdf8;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(5):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(6) {
  width: 7rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(6)::before {
  content: "JavaScript";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(6)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/javascript.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(6):hover::before {
  color: #f1c40f;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(6):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(7) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(7)::before {
  content: "VueJS";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(7)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/vue.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(7):hover::before {
  color: #41b883;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(7):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(8) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(8)::before {
  content: "ReactJS";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(8)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/react.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(8):hover::before {
  color: #00ccff;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(8):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(9) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(9)::before {
  content: "NodeJS";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(9)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/nodejs.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(9):hover::before {
  color: #5fa04e;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(9):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(10) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(10)::before {
  content: "Express";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(10)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/express.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(10):hover::before {
  color: #000;
  transform: translate(-50%, -2rem);
}

html.dark .tagcloud--item:nth-child(10):hover::before {
  color: #fff;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(10):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(11) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(11)::before {
  content: "Socket.IO";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(11)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/socketio.svg) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(11):hover::before {
  color: #000;
  transform: translate(-50%, -2rem);
}

html.dark .tagcloud--item:nth-child(11):hover::before {
  color: #fff;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(11):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(12) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(12)::before {
  content: "MongoDB";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(12)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/mongodb.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(12):hover::before {
  color: #001e2b;
  transform: translate(-50%, -2rem);
}

html.dark .tagcloud--item:nth-child(12):hover::before {
  color: #00ed64;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(12):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(13) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(13)::before {
  content: "Python";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(13)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/python.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(13):hover::before {
  color: #306998;
  transform: translate(-50%, -2rem);
}

html.dark .tagcloud--item:nth-child(13):hover::before {
  color: #ffe873;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(13):hover::after {
  transform: translate(-50%, -0.5rem);
}

.tagcloud--item:nth-child(14) {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagcloud--item:nth-child(14)::before {
  content: "Git";
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(14)::after {
  content: "";
  width: 50%;
  height: 50%;
  background: center/contain url(../images/git.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transition: ease-in-out 0.5s;
}

.tagcloud--item:nth-child(14):hover::before {
  color: #f03c2e;
  transform: translate(-50%, -2rem);
}

.tagcloud--item:nth-child(14):hover::after {
  transform: translate(-50%, -0.5rem);
}

/*# sourceMappingURL=main.css.map */
